html {
    height: 100%;
}

.bg-img {
    position: absolute;
    top: 100px; /* Adjust based on your navbar height */
    right: 0;
    z-index: 0;
    pointer-events: none; /* So it doesn't block clicks */
}

.bg-img-inner {
    width: 300px;
    height: auto;
}

body {
    position: relative;
    padding-top: 100px; /* Same as .bg-img top */
    background-color: yellow;
}



/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.support-me-button {
    background: black;
    color: white;
    min-width: 160px;
}


.btn-black {
    background: black;
    color: white;
}

.support-me-button:hover,
.support-me-button:active,
.support-me-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Maintain background responsiveness on small size screens */
@media (max-width: 768px) {
    .bg-img-inner {
        width: 200px;
    }
}

@media (max-width: 576px) {
    .bg-img {
        display: none;
    }
}
